<div class="tutorial-container topic-items-topic-type">
  <div class="topic-items">
  <div class="instructions">Click on the Scratch blocks to see javascript on the right.</div>
    {{#each item in topicItems }}
      {{#link-to 'topic-item' item class="topic-item"}}
        {{image-list item}}
      {{/link-to}}
    {{/each}}
  </div>
  <div class="stage">
    <div class="how-it-works">
      {{ partial topicItem.instructionPartial }}
    </div>
    <div class="code-container">
      <div class="code">
        {{#if topicItem.labUrl}}
          <div class="code-buttons">
            {{#ic-modal-trigger controls="try-it" class="code-button"}}
              Try it out
            {{/ic-modal-trigger}}
          </div>
        {{/if}}

        {{ partial topicItem.examplePartial }}
      </div>
    </div>
  </div>
  {{#ic-modal id="try-it"}}
    {{#ic-modal-title}}
      <span class="try-it-title">
        <span class="tag">&lt;</span><span class="name">codr</span><span class="text">lab</span><span class="tag">&gt;</span>
      </span>
    {{/ic-modal-title}}
      {{view 'topic-item-lab-frame'}}
      <button class="revert" {{ action revert }}>Undo your changes</button>
  {{/ic-modal}}
</div>
