<div class="detail-button-container">
  <button {{action 'toggleCodeDisplay'}} {{bind-attr class="codeDisplay::selected :item-detail-btn"}}>how it works</button>
  <button {{action 'toggleCodeDisplay'}} {{bind-attr class="codeDisplay:selected :item-detail-btn"}}>code</button>
</div>
<div class="widget-stage">
  {{#if codeDisplay}}
  <div class="code">
    {{ partial topicItem.examplePartial }}
  </div>
  {{else}}
  <div class="how-it-works">
    {{ partial topicItem.instructionPartial }}
  </div>
  {{/if}}
</div>
